USE [master]
GO
/****** Object:  Database [LKSN2018]    Script Date: 3/5/2022 8:17:45 PM ******/
CREATE DATABASE [LKSN2018]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LKSN2018', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LKSN2018.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LKSN2018_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LKSN2018_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LKSN2018].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LKSN2018]
GO
/****** Object:  Table [dbo].[Detailorder]    Script Date: 3/5/2022 8:17:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detailorder](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [nchar](10) NOT NULL,
	[MenuID] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Status] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Detailorder] PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Headerorder]    Script Date: 3/5/2022 8:17:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Headerorder](
	[OrderID] [nchar](10) NOT NULL,
	[EmployeeID] [nchar](6) NOT NULL,
	[MemberID] [nchar](8) NOT NULL,
	[Date] [date] NOT NULL,
	[Payment] [nvarchar](50) NULL,
	[Bank] [nvarchar](50) NULL,
	[CardNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_Headerorder] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Msemployee]    Script Date: 3/5/2022 8:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Msemployee](
	[EmployeeID] [nchar](6) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Handphone] [nvarchar](13) NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Msemployee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Msincome]    Script Date: 3/5/2022 8:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Msincome](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Income] [int] NOT NULL,
 CONSTRAINT [PK_MsIncome] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Msmember]    Script Date: 3/5/2022 8:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Msmember](
	[MemberID] [nchar](8) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Handphone] [nvarchar](13) NOT NULL,
	[JoinDate] [date] NOT NULL,
 CONSTRAINT [PK_Msmember] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Msmenu]    Script Date: 3/5/2022 8:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Msmenu](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [int] NOT NULL,
	[Photo] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Msmenu] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mspackage]    Script Date: 3/5/2022 8:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mspackage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CountMeat] [int] NOT NULL,
	[CountVegetable] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[MaxOrder] [int] NOT NULL,
 CONSTRAINT [PK_Mspackage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Detailorder]  WITH CHECK ADD  CONSTRAINT [FK_Detailorder_Headerorder] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Headerorder] ([OrderID])
GO
ALTER TABLE [dbo].[Detailorder] CHECK CONSTRAINT [FK_Detailorder_Headerorder]
GO
ALTER TABLE [dbo].[Detailorder]  WITH CHECK ADD  CONSTRAINT [FK_Detailorder_Msmenu] FOREIGN KEY([MenuID])
REFERENCES [dbo].[Msmenu] ([MenuID])
GO
ALTER TABLE [dbo].[Detailorder] CHECK CONSTRAINT [FK_Detailorder_Msmenu]
GO
ALTER TABLE [dbo].[Headerorder]  WITH CHECK ADD  CONSTRAINT [FK_Headerorder_Msemployee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Msemployee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Headerorder] CHECK CONSTRAINT [FK_Headerorder_Msemployee]
GO
ALTER TABLE [dbo].[Headerorder]  WITH CHECK ADD  CONSTRAINT [FK_Headerorder_Msmember] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Msmember] ([MemberID])
GO
ALTER TABLE [dbo].[Headerorder] CHECK CONSTRAINT [FK_Headerorder_Msmember]
GO
USE [master]
GO
